<html>
<head>
    <title>Image Search Tool</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src = "/static/js/flickrPhotoService.js" type = "text/javascript"></script>
    <script src = "/static/js/cacheImageService.js" type = "text/javascript"></script>
    <script src = "/static/js/onReady.js" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "/static/css/custom.css">

    <meta property="og:title" content="FlickrImageSearch - Search Flickr for Images."/>
    <meta property="og:url" content="http://flickrimagesearch.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Flickr Image Search gives you the ability to search against the Flickr api for a search text and then save images to a cache. You can search across all of Flickr for any text that you wish to search on." />
    <meta property="og:image" content="https://raw.githubusercontent.com/humanalgorithm/flickrimagesearch/master/flickr-image-search-screenshot.png"/>
</head>


<div class = "row">

<div class = "topbar" id="topbar" >
    <h1> Image Search Tool</h1>
    <div class = "inlineblock">
    Search for images <input id = "search-text" type = "text"/>
    </div>
    <button onclick = "FlickrPhotoService.loadPhotosFromFlickr()" >Search for Images </button>
    <br>
    Click on image to save: <input id = "image-save-field" type = "text" size = "50" disabled readonly/>
    <button onclick="cacheImageService.saveImage()">Save Image </button>
    <br>
    Click on saved image to delete: <input id = "delete-image-field" type = "text" size = "50" disabled readonly/>
    <button onclick = "cacheImageService.deleteImage()"> Delete Image </button>

</div>

<div class = "rightbar" id ="right-bar">
  <div class="imagesheading" > Your Images: </div>
  <div id = "cache-images" class = "databaseimages">

  </div>

 </div>
</div>
<hr>

<div id = "photo-list" class = "photolist">

</div>

<div id="token">{% csrf_token %}</div>
</body>

</html>